* {
    margin: 0;
}
div {

    display: flex;
    flex-direction: row;
}
.esquerdo {
    display: flex;
    width: 50%;
    height: 100vh;

}
.anuncio {
    height: 100%;
    width: 100%;
}

.direito {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    
}
.logo {
    display: flex;
    height: 250px;
    width: 250px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 35px;
    margin: 25px;
}
.criar-google:hover{
    background-color: gray;
    transition: 1s;
}
.criar-google {
    color: white;
    background-color: red;
}
.google {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.conta {
    color: white;
    background-color: black;
}
.conta:hover{
    background-color: gray;
    transition: 1s;
}
input {
    width: 190px;
    height: 30px;
}
